{
	"transliterate": "true/false",
	"youtube_url": "rtmp://a.rtmp.youtube.com/live2",
	"youtube_key": "youtube stream key",
	"mpd_hostname": "127.0.0.1",
	"mpd_port": "6600",
	"mpd_password": null,
	"audio_url": "url to audio stream",
	"background_params": {
		"filename": "background.jpg",
		"loop": "true",
		"framerate": "15"
	},
	"text_params": {
		"fontcolor": "white",
		"fontsize": "32",
		"x": "16",
		"y": "16"
	},
	"output_params": {
		"audio_bitrate": "320k",
		"video_bitrate": "2500k",
		"acodec": "aac",
		"format": "flv",
		"framerate": "15"
	}
}